@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 85%;
}


.fields > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.fields > div > label {
  width: 150px;
}

.fields > div > input,
.fields > div > textarea {
  flex: 2;
}

textarea {
  /* white-space: pre; */
  background: transparent;
  color: #fff;
}

/* body {
  padding: 16px;
} */



.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #8272e4;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}