# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#
#

dist

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
junit.xml

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.r1cs
*.sym
*.ptau
*.zkey

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/circuits/proofs/
out/
circuits/circuit*zkey*
circuits/email/
cache/
test.log
packages/contracts/out/
packages/contracts/lib/
packages/contracts/broadcast
.next
node_modules.nosync
*Wallet*
*wallet*
circuits/regexes/subject_regex*

*_email.txt
*email_cache.json
*input.json
*email_proof.json
*.debug
*.env
.vscode

.vite
**/.vite

tsbuildinfo

**/node_modules
**/build
**/dist
tsconfig.tsbuildinfo
